body {
    background-repeat: repeat;
    background-image: url('./_img/backgroundPokemon.png');
}

#cardsContainer .cards {
    margin: 15px;
    width: 300px;
    background-color: hsla(0, 30%, 18%, 0.849);
}
.containerFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
